# Dependencies
node_modules/

# Build outputs
dist/
out/
build/
.next/

# TypeScript
*.tsbuildinfo

# Environment files
.env
.env.*

# macOS
.DS_Store

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Vite
*.local

# Misc
*.pem
.vercel
